#top, #bottom, #left, #right {
    background: #a5ebff;
    position: fixed;
}

#left, #right {
    top: 0;
    bottom: 0;
    width: 15px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#top, #bottom {
    left: 0;
    right: 0;
    height: 15px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

#slider {
    width: 85px;
    margin: 0 auto;
    text-align: center;
}

div {
    /*border: #00ff00;
    border-style: solid;
    display: block;
    overflow: auto;*/
    clear: both;
    height: auto;
}

table {
    border-collapse: collapse;
}

table td {
    border: 2px transparent;

}

.leaf {
    color: black;
}

.nonleaf {
    /*color: #E3530D;*/

}

.hasSwapDescendent {
    background: url(images/underline.gif) bottom repeat-x;
}

.hasarrow {
    background-color: lightgray;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

canvas {
    position: absolute;
    z-index: -1000;
    pointer-event: none;
}

span {
    display: inline-block;
}

.curly-underline {

}